<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div
      class="well well-lg"
      style="display:flex;justify-content: center;margin:15%;"
    >
      <form
        action="http://localhost:5000/"
        method="POST"
        enctype="multipart/form-data"
      >
        <div>
          <label
            for="name"
            style="margin-bottom:10%;font-size:20px;color:#3f3b46;"
            >De Bruijn graph assembly</label
          >
          <input type="file" multiple="" name="file[]" />
          <p class="help-block" style="margin-top:5%;">
            Please upload .tsv files.
          </p>
        </div>
        <button type="submit" class="btn btn-default" style="margin-top:5%;">
          Submit
        </button>
      </form>
    </div>
    {% if error %}
    <div
      class="alert alert-danger alert-dismissable"
      style="width:70%;margin-left:15%;margin-top:-13%;"
    >
      <button class="close" data-dismiss="alert" type="button">
        &times;
      </button>
      <div style="display:flex;justify-content:center;">
        <strong>Error!&nbsp;</strong> :&nbsp;{{ error }}
      </div>
    </div>
    {% endif %} {% if result %}
    <div
      class="alert alert-success alert-dismissable"
      style="width:70%;margin-left:15%;margin-top:-13%;"
    >
      <button class="close" data-dismiss="alert" type="button">
        &times;
      </button>
      <div style="display:flex;justify-content:center;">
        <strong>Result&nbsp;</strong> :&nbsp;{{ result | safe }}
      </div>
    </div>
    {% endif %}
  </body>
</html>
